# {{ ansible_managed }}
JobDefs {
{% for opt,value in item.value.items() %}
{% if value | type_debug == "bool" %}
  {{ opt }} = {{ value | ternary('yes', 'no')}}
{% else %}
  {{ opt }} = {{ value }}
{% endif %}
{% endfor %}
}
